.login .container, .password .container {
    max-width: 500px;

}

.login .fields, .password .fields {
    margin-bottom: 32px;
}

.login .footer ul {
    display: flex;
    justify-content: space-evenly;
}

.login .footer ul li a {
    color: #777;
}

.login .footer ul li a:hover {
    font-weight: bold;
    color: black;
}